# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
out

# Environment
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
.claude
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Turbo
.turbo

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

*storybook.log
storybook-static

# Temp
tmp
